* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Remove bullets from the Lists */
ul {
    list-style-type: none;
}

/* List will align by row instead of by columns*/
li {
    display: inline-block;
    margin-left: 25px;
}

/*font style remains even when link is selected*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Setting paragraph element font size to 16 pixels*/
p {
    font-size: 16px;
}

/*Display in line with list and setting font size to 48 pixels*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*Set the spacing from the bottom of each main section to 20 pixels and a font size of 36 pixels*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Set the spacing from the bottom of each benefits section to 10 pixels and center the text*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Set front size for the "made with love by" section to 20 pixels*/
h4 {
    font-size: 20px;
}

/*Added footer section with spacing and select3ed fonts*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Change the color of just "seo" to a darker shade */
.seo {
    color: #d9dcd6;
}

/* Setting style and fonts to use*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Setting style and fonts for the lists*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Background picture for marketing meeting*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Main section to put picture on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Main section to put picture on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main section display*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Style the smaller "Benefits" section to the right of the page*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/*Set the stle for the icons of each benefits section*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting background and area for the Seach Engine Section*/ 
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Setting background and area for the Online Reuptation Section*/ 
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Setting background and area for the Social Media Section*/ 
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Setting img size in SEO section*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Setting img size in Online Reputation section*/
.online-reputation-management img {
    max-height: 200px;
}

/*Setting img size in Social Media section*/
.social-media-marketing img {
    max-height: 200px;
}
